body {
    text-align: center;
}

#main_wrapper {
    max-width: 960px;
    min-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#header {
    background-color: green;
    width: auto;
}

#threecolwrap {
    float: left;
    width: 100%;
}

#twocolwrap {
    float: left;
    width: 100%;
    display: inline; /* Stop IE doubling margin on float */
    margin-right: -170px;
}

#nav {
    width: 140px;
    float: left;
    background-color: gray;
}

#content {
    width: auto;
    margin-left: 140px;
    margin-right: 170px;
    top: 0;
}

table.basic_lines {
    width: 300px;
    border-top: 3px solid #069;
    border-collapse: collapse;
}

table.basic_lines caption {
    margin-bottom: 6px;
}

table.basic_lines th {
    border-bottom: 2px solid #069;
}

table.basic_lines td {
    border-bottom: 1px solid #069;
}

table.basic_lines th, table.basic_lines td {
    padding: 5px 3px;
}

table.bars_n_stripes {
    width: 300px;
    border-collapse: collapse;
}

table.bars_n_stripes th {
    background-color: #cfc;
}

table.bars_n_stripes td {
    background-color: #ffc;
}

table.bars_n_stripes th[scope="col"] {
    background-color: #9cc;
}

table.bars_n_stripes td, table.bars_n_stripes th {
    padding: 3px;
    border-bottom: 1px solid #069;
}

#promo {
    width: 170px;
    float: left;
    background-color: gray;
}

#footer {
    clear: both;
    background-color: yellow;
}

#header_inner, #nav_inner, #content_inner, #promo_inner {
    overflow: hidden;
}

#header_inner {
    padding: 1em 2em;
}

#nav_inner {
    padding: 1em .8em;
    border-right: 3px solid #B33;
}

#content_inner {
    padding: 0 1em 1em 1.5em;
}

#footer_inner {
    padding: .5em 1em;
    text-align: center;
}